@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: url("../assets/Space-background.webp");
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: rgb(255, 255, 31);
  font-size: 3rem;
  font-weight: 700;
}
.subtext {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.characters {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  width: 100%;
}

/* Character card and children element stylings */
.character__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  background-color: rgb(58, 66, 66);
  color: white;
  transition: background-color 0.4s ease-out;
}
.character__card:hover {
  background-color: rgb(144, 238, 149);
  color: black;
}

.character__image {
  min-width: 110px;
  height: 110px;
  border: 2px solid rgb(144, 238, 149);
  border-radius: 50%;
  object-fit: cover;
}
.character__card:hover .character__image {
  border-color: white;
}
.character__card:hover .character__name {
  border-color: black;
}

.character__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 1.2rem;
}
.character__info--extra {
  flex-direction: inherit;
  row-gap: inherit;
  font-size: inherit;
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: opacity 0.8s ease, height 0.8s ease;
}
.attribute {
  font-weight: bold;
}
.character__name {
  cursor: pointer;
  border-bottom: 2px dotted white;
}

/* Responsiveness for Tablet */
@media (min-width: 768px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* Responsiveness for PC */
@media (min-width: 1024px) {
  .characters {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

/* Show element class */
.show_element--flex {
  display: flex;
  opacity: 1;
  height: fit-content;
}
